name: Daily Data Import

on:
  schedule:
    - cron: '1 * * * *'

jobs:
  import_update_data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Check Last Execution Date
        id: check_date
        run: |
          if [ -f data/date.txt ]; then
            LAST_DATE=$(cat data/date.txt)
            CURRENT_DATE=$(date -u +%Y%m%d)
            if [ "$LAST_DATE" == "$CURRENT_DATE" ]; then
              exit 0
            fi
          fi

      - name: Install Dependencies
        id: install_dep
        run: |
          sudo apt-get update
          sudo apt-get install -y git-lfs
          git lfs install

      - name: Download file
        id: download_file
        run: |
          curl --follow --retry 1 -O data/cloudflare_0.txt https://archive.org/download/cloudflare_domains/cloudflare_0.txt
          curl --follow --retry 1 -O data/cloudflare_1.txt https://archive.org/download/cloudflare_domains/cloudflare_1.txt
          curl --follow --retry 1 -O data/cloudflare_2.txt https://archive.org/download/cloudflare_domains/cloudflare_2.txt
          curl --follow --retry 1 -O data/cloudflare_3.txt https://archive.org/download/cloudflare_domains/cloudflare_3.txt
          curl --follow --retry 1 -O data/cloudflare_4.txt https://archive.org/download/cloudflare_domains/cloudflare_4.txt
          curl --follow --retry 1 -O data/cloudflare_5.txt https://archive.org/download/cloudflare_domains/cloudflare_5.txt
          curl --follow --retry 1 -O data/cloudflare_6.txt https://archive.org/download/cloudflare_domains/cloudflare_6.txt
          curl --follow --retry 1 -O data/cloudflare_7.txt https://archive.org/download/cloudflare_domains/cloudflare_7.txt
          curl --follow --retry 1 -O data/cloudflare_8.txt https://archive.org/download/cloudflare_domains/cloudflare_8.txt
          curl --follow --retry 1 -O data/cloudflare_9.txt https://archive.org/download/cloudflare_domains/cloudflare_9.txt
          curl --follow --retry 1 -O data/cloudflare_a.txt https://archive.org/download/cloudflare_domains/cloudflare_a.txt
          curl --follow --retry 1 -O data/cloudflare_b.txt https://archive.org/download/cloudflare_domains/cloudflare_b.txt
          curl --follow --retry 1 -O data/cloudflare_c.txt https://archive.org/download/cloudflare_domains/cloudflare_c.txt
          curl --follow --retry 1 -O data/cloudflare_d.txt https://archive.org/download/cloudflare_domains/cloudflare_d.txt
          curl --follow --retry 1 -O data/cloudflare_e.txt https://archive.org/download/cloudflare_domains/cloudflare_e.txt
          curl --follow --retry 1 -O data/cloudflare_f.txt https://archive.org/download/cloudflare_domains/cloudflare_f.txt
          curl --follow --retry 1 -O data/cloudflare_g.txt https://archive.org/download/cloudflare_domains/cloudflare_g.txt
          curl --follow --retry 1 -O data/cloudflare_h.txt https://archive.org/download/cloudflare_domains/cloudflare_h.txt
          curl --follow --retry 1 -O data/cloudflare_i.txt https://archive.org/download/cloudflare_domains/cloudflare_i.txt
          curl --follow --retry 1 -O data/cloudflare_j.txt https://archive.org/download/cloudflare_domains/cloudflare_j.txt
          curl --follow --retry 1 -O data/cloudflare_k.txt https://archive.org/download/cloudflare_domains/cloudflare_k.txt
          curl --follow --retry 1 -O data/cloudflare_l.txt https://archive.org/download/cloudflare_domains/cloudflare_l.txt
          curl --follow --retry 1 -O data/cloudflare_m.txt https://archive.org/download/cloudflare_domains/cloudflare_m.txt
          curl --follow --retry 1 -O data/cloudflare_n.txt https://archive.org/download/cloudflare_domains/cloudflare_n.txt
          curl --follow --retry 1 -O data/cloudflare_o.txt https://archive.org/download/cloudflare_domains/cloudflare_o.txt
          curl --follow --retry 1 -O data/cloudflare_p.txt https://archive.org/download/cloudflare_domains/cloudflare_p.txt
          curl --follow --retry 1 -O data/cloudflare_q.txt https://archive.org/download/cloudflare_domains/cloudflare_q.txt
          curl --follow --retry 1 -O data/cloudflare_r.txt https://archive.org/download/cloudflare_domains/cloudflare_r.txt
          curl --follow --retry 1 -O data/cloudflare_s.txt https://archive.org/download/cloudflare_domains/cloudflare_s.txt
          curl --follow --retry 1 -O data/cloudflare_t.txt https://archive.org/download/cloudflare_domains/cloudflare_t.txt
          curl --follow --retry 1 -O data/cloudflare_u.txt https://archive.org/download/cloudflare_domains/cloudflare_u.txt
          curl --follow --retry 1 -O data/cloudflare_v.txt https://archive.org/download/cloudflare_domains/cloudflare_v.txt
          curl --follow --retry 1 -O data/cloudflare_w.txt https://archive.org/download/cloudflare_domains/cloudflare_w.txt
          curl --follow --retry 1 -O data/cloudflare_x.txt https://archive.org/download/cloudflare_domains/cloudflare_x.txt
          curl --follow --retry 1 -O data/cloudflare_y.txt https://archive.org/download/cloudflare_domains/cloudflare_y.txt
          curl --follow --retry 1 -O data/cloudflare_z.txt https://archive.org/download/cloudflare_domains/cloudflare_z.txt

      - name: Check File Size and Upload
        id: update_git
        run: |
          mkdir -p data
          mv cloudflare_*.txt data/
          echo -n $(date -u +%Y%m%d) > data/date.txt
          git config user.name "Cloudflare"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Update"
          git push origin main

